.bubble-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    overflow: hidden;
    /* display: flex; */
    /* border: 1px solid; */
    display: flex;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    animation: bubbleAnimation linear infinite;
}

@keyframes bubbleAnimation {
    0% {
        transform: translateY(200px);
    }

    50% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}